/*destop-leyout-*/
@media only screen and (min-width: 1200px) and (max-width:1400px){
    
}
/*laptop-leyout-*/
@media only screen and (min-width: 992px) and (max-width:1200px){
    .our-hero-area {
        position: absolute;
        display: inline-block;
        top: 260px;
        left: 60px;
        right: 60px;
    }
    .hero__Title .hero-logo {
        width: 10rem;
        height: 10rem;
        margin: 0 1rem;
    }
    .logo img{
        width: 180px;
    }
    .manu-list {
        padding-right: 1rem;
    }
    .manu-list a {
        font-size: 12px;
    }
    .dropdown {
        position: relative;
        padding-top: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 1rem;
        background-color: hsla(0,0%,100%,.6);
        top: -50px;
        cursor: pointer;
    }
    .dropdown .submenu {
        position: absolute;
        left: 0;
        width: 100%;
        display: block;
        top: 91px;
        padding: 0;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        background-color: hsla(0,0%,100%,.6);
    }
    .logo {
        padding-top: 3rem;
    }
    .main-menu nav ul {
        display: flex;
        padding-top: 3rem;
    }

    .formHeader {
        color: #000000;
        font-size: 28px;
        text-transform: uppercase;
        margin-top: 20px;
    }
    .heroHeader {
        margin-bottom: 20px;
        margin-top: 320px;
}
    
    .hero__Paragraph {
        padding: 2rem 3vw;
        background-color: #1d242b;
        padding-left: 3rem;
        padding-top: 2rem;
        padding-bottom: 2rem;        
    }
    .heroSanityText p {
        margin-bottom: 0;
        line-height: 1.25;
        font-size: 1rem;
    }
    .hero__Subheader {
        font-size: 2rem;        
    }
    p {
        font-size: 1.2rem;
        font-weight: normal;
        line-height: 26px;
        margin-bottom: 15px;
    }
    .person h3 {        
        font-size: 2rem;        
    }
    .patient-hero-Paragraph {
        width: 100%;
        margin-left: auto;
        position: absolute;
        margin-right: 0;
        bottom: -510px;    
        background-color: #1d242b;    
        padding-left: 1rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        left: 0px; 
    }
    .pageBody {
        width: 100vw;
        left: 0px;
        margin-top: 550px;
        padding: 0 60px;
    }
    .applicition-hero__Title {
        width: 100%;
        margin-top: 90px;
    }
    .formHeader {
        color: #7a99ad;        
    }
    .surjary-heroHeader {
        margin-top: 520px;
    }
    .surjary-about-area {
        margin-top: -400px;
        margin-left: 0px;
    }
    .repair-heroHeader {
        margin-top: 480px;
    }
    .pageBody {       
        margin-top: 0;
        
    }
    .endoscopy-heroHeader {
        margin-top: 390px;
    }
    .removal-about-area {
        margin-top: 290px;
    }
        
    
    
}

/*tablet layout768px*/
@media only screen and (min-width: 768px) and (max-width:991px){
    .our-logo {
        width: 260px;
        margin-top: 20px;
    }
.our-mobile-logo{
    display: block;
 }
 .dropdown {
    position: relative;
    padding-top: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 0;
    background-color: #7a99ad;
    top: 0px;
 }
 .mean-container a.meanmenu-reveal {
    top: -120px;
}
 .logo {
    padding-top: 2rem;
}
 .dropdown .submenu li::after {
    display: none;
}
.dropdown .submenu {
    top: 40px;
}
.submenu li { 
    padding: 0;
}
.hero-logo{
    display: none;
}
.hero__Title{
    background: none;
    display: block;
}
.hero__Title {    
    padding: 0;
    
}
.heroHeader {
    font-size: 56px;
    padding: 5rem;
}
.hero-mobile-heding{
    background-color: aqua;

}
.hero-mobile-heding {
    background-color: #7a99ad;
    color: #fff;
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
}

.our-hero-area {    
    top: 320px;
    left: 0px; 
     right: 0px; 
}
.hero-mobile-heding{
    display: block;
}
.hero__Paragraph {
    padding: 1rem 4vw;    
}
.our-doctor {
    margin-top: 300px;
}
.our-doctor-area {
    display: block;
}
.doctor-list{
    float: top;
}
.doctor-info {
    display: block;
    text-align: center;
}
.doctor-img img {    
    width: 280px;
    
}

.doctorHighlight__Text {
    
    width: auto; 
    
}
.dr-heding {
    color: #000000;
    font-size: 32px;
    margin: 10px 0;
}
.doctor-list {
    float: top;
    padding: 50px 14rem;
}
.contact-information {
    display: block;
}
.contact-information p{
    font-size: 18px;
}
.hero-bg-img{
    display: none;
}
.hero-para {
    position: absolute;
    z-index: 1;
    display: block;
    background-color: hsla(0,0%,100%,.8);
    width: 100%;
    right: 0;    
    padding: 10px 20px 40px 20px;
    top: 0;
}
.hero__Wrapper {
    position: relative;
    height: 300px;
}
.footer-contact{
    display: none;
}
.footer-procedures{
    display: none;
}
.footer-right{
    display: none;  
}
.footer-location{
    text-align: center;
}
.dropdown a i{
    display: none;
}
.mean-container .mean-bar {
    float: right;
    width: 100%;
    position: relative;
    background: transparent;
    padding: 4px 0;
    min-height: 42px;
    z-index: 999999;
    top: 169px;
    display: block;
}
/* our about page style start here  */
.hero__CTA {
    background-color: #7a99ad;
    display: block;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}
.about-doctor-section {
    margin-top: 60px;
    margin-bottom: 60px;
}
.allDocs__Header {    
    font-size: 2rem;
    margin-top: 5rem;
    
}
.person {
    display: block;
    
}
.person__bio {    
    padding: 0;    
    font-size: 18px;
}

.person h3 {   
    font-size: 2.8rem;
    margin-bottom: 1rem;    
}
.imgWrapper-heding {    
    font-size: 24px;
    margin-bottom: 10px;
}
.our-aboutfrom-area{
    display: block;
}
.our-aboutfrom-area {
    display: block;    
     padding: 0;
}
.fromimg {
    order: 2;
    width: 100%;
}
.about-from {    
    padding: 20px;
    width: 100%;    
}
.person__Brief {
    width: 100%;
    position: relative;
    
}
.imgWrapper {
    align-items: center;
    justify-content: center;
    display: flex;
}
/* our about page style start here  */
.hero__CTA {
    background-color: #7a99ad;
    display: block;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}
.about-doctor-section {
    margin-top: 220px;
    margin-bottom: 60px;
}
.allDocs__Header {    
    font-size: 2rem;
    margin-top: 5rem;
    
}
.person {
    display: block;
    
}
.person__bio {    
    padding: 0;    
    font-size: 18px;
}

.person h3 {   
    font-size: 1.8rem;
    margin-bottom: 1rem;    
}
.imgWrapper-heding {    
    font-size: 24px;
    margin-bottom: 10px;
}
.our-aboutfrom-area{
    display: block;
}
.our-aboutfrom-area {
    display: block;    
     padding: 0;
}
.fromimg {
    order: 2;
    width: 100%;
}
.about-from {    
    padding: 20px;
    width: 100%;    
}

/* our contact page style here  */
.our-contact-from {
    display: block;
    margin-top: -5rem;
    width: 100%;
    margin-right: 0;
    margin-left: auto;
    background-color: #fff;
    padding: 3rem 3rem;
}
.our-contactarea {
    width: 100%;    
}
.input--Text, .selectContainer, fieldset, select, textarea {
    border: 0;
    background-color: #e8e9ea;
    display: block;
    padding: 1rem 1rem;
    width: 100%;    
}
.formHeader {
    color: #1d242b;
    margin-bottom: 1rem;   
}
.contact-heroHeader {
    margin-top: 334px;  
}
.our-contact-information {
    color: #fff;
    padding: 20px;
    color: #1d242b;
}
p {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 32px;
    margin-bottom: 15px;
}
.contact-input{
    color: #1d242b;
}


/* our patient section style here  */
.patient-hero__Title {
    position: absolute;
    bottom: 350px;
    left: 0px;
}
.patient-heroHeader{
    font-size: 32px;
    padding: 0px 20px;
    margin-bottom: 20px;
}
.patient-hero-Paragraph {
    width: 100%;
    margin-left: auto;
    position: absolute;
    margin-right: 0;
    background-color: #1d242b;
    margin-top: -15rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    left: 0px;    
    top: 790px;
}
p {
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 15px;
}
.patient-para ul li {
    list-style: disc;
    margin-left: 40px;
    font-size: 18px;
    line-height: 28px;
}
.hero__Subheader {
    font-size: 42px;
}
.pageBody {
    display: block;
    width: 100%;
    padding: 2rem;
    margin-top: 450px;
    left: 0px;
    text-align: center;
}
.hero__Paragraph .sanityText p a, .pageBody__Col .sanityText a {
    font-size: 20px;  
    padding: 10px 16px;
    
}
.button--Fill--blue {    
    font-size: 20px;
    padding: 10px 16px;
    
}
.patient-hero__Title{
    width: 100%;
    text-align: center;
    color: #fff;
}
.hero__CTA a{
    color: #fff;
}

.applicition-hero__Title {
    width: 100%;
    margin-top: 96px;
}
/* our surjary page style start here  */
.surjary-heroHeader {    
    font-size: 32px;
    padding: 0px 20px;
    margin-bottom: 20px;
    margin-top: 470px;
}
.surjary-about-area {
    margin-top: -200px;
    margin-left: 0px;
}
.pageBody__Col {
    width: 100%;
}
.pageBody__Col2 {
    width: 100%;
}
/* our repir page style here   */
.hero__Paragraph {
    width: 100%;

}
.hero__Subheader {
    font-size: 22px;
}
.sanityText {
    color: #fff;
    width: 100%;
}
.maxWidth {
    margin-top: 70px;
    display: block;
}
.repair-heroHeader{
    padding: 0 20px;
}
.hero__CTA a{
    color: #fff;
}
.reapir-about-area {
    margin-top: 0px;
}
/* our evlt page style here  */
.evlt-about-area {
    margin-top: 0px;
}
.maxWidth-evlt{
    margin-top: 0;
}
/* our endoscopy page style here  */
.endoscopy-about-area {
    margin-top: 80px;
}
.pageBody__Header {    
    font-size: 2rem;
    
}
.endoscopy-heroHeader {
    margin-top: 160px;
    font-size: 32px;
    padding: 0 20px;
    margin-bottom: 20px;
}
.surjary-formHeader{
    font-size: 42px;
}
.maxWidth-removal {
    margin-top: 0px;
}
.removal-heroHeader {
    margin-top: 230px;
}

}
/* mobile layout:320px*/
@media only screen and (max-width:767px){
    
    .our-logo {
        width: 260px;
        margin-top: 20px;
    }
.our-mobile-logo{
    display: block;
 }
 .dropdown {
    position: relative;
    padding-top: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 0;
    background-color: #7a99ad;
    top: 0px;
 }
 .mean-container a.meanmenu-reveal {
    top: -120px;
}
 .logo {
    padding-top: 2rem;
}
 .dropdown .submenu li::after {
    display: none;
}
.dropdown .submenu {
    top: 40px;
}
.submenu li { 
    padding: 0;
}
.hero-logo{
    display: none;
}
.hero__Title{
    background: none;
    display: block;
}
.hero__Title {    
    padding: 0;
    
}
.heroHeader {
    font-size: 42px;
    padding: 0px 20px;
}
.hero-mobile-heding{
    background-color: aqua;

}
.hero-mobile-heding {
    background-color: #7a99ad;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
}
.our-hero-area {
    top: 420px;
    left: 0px;
    right: 0px;
} 

.hero-mobile-heding{
    display: block;
}
.hero__Paragraph {
    padding: 1rem 4vw;    
}
.our-doctor {
    margin-top: 360px;
}
.our-doctor-area {
    display: block;
}
.doctor-list{
    float: top;
}
.doctor-info {
    display: block;
}
.doctor-img img {    
    width: 280px;
    
}
.doctorHighlight__Text {
    
    width: auto; 
    
}
.dr-heding {
    color: #000000;
    font-size: 32px;
    margin: 10px 0;
}
.doctor-list {
    float: top;
    padding: 0 2rem;
}
.contact-information {
    display: block;
}
.contact-information p{
    font-size: 18px;
}
.hero-bg-img{
    display: none;
}
.hero-para {
    position: absolute;
    z-index: 1;
    display: block;
    background-color: hsla(0,0%,100%,.8);
    width: 100%;
    right: 0;    
    padding: 10px 20px 40px 20px;
    top: 0;
}
.hero__Wrapper {
    position: relative;    
    height: 900px;
}
.footer-contact{
    display: none;
}
.footer-procedures{
    display: none;
}
.footer-right{
    display: none;  
}
.footer-location{
    text-align: center;
}
.dropdown a i{
    display: none;
}
/* our about page style start here  */
.hero__CTA {
    background-color: #7a99ad;
    display: block;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}
.about-doctor-section {
    margin-top: 220px;
    margin-bottom: 60px;
}
.allDocs__Header {    
    font-size: 2rem;
    margin-top: 5rem;
    
}
.person {
    display: block;
    
}
.person__bio {    
    padding: 0;    
    font-size: 18px;
}

.person h3 {   
    font-size: 1.8rem;
    margin-bottom: 1rem;    
}
.imgWrapper-heding {    
    font-size: 24px;
    margin-bottom: 10px;
}
.our-aboutfrom-area{
    display: block;
}
.our-aboutfrom-area {
    display: block;    
     padding: 0;
}
.fromimg {
    order: 2;
    width: 100%;
}
.about-from {    
    padding: 20px;
    width: 100%;    
}

/* our contact page style here  */
.our-contact-from {
    display: block;
    margin-top: -5rem;
    width: 100%;
    margin-right: 0;
    margin-left: auto;
    background-color: #fff;
    padding: 1rem 1rem;
}
.our-contactarea {
    width: 100%;    
}
.input--Text, .selectContainer, fieldset, select, textarea {
    border: 0;
    background-color: #e8e9ea;
    display: block;
    padding: 1rem 1rem;
    width: 100%;    
}
.formHeader {
    color: #1d242b;
    margin-bottom: 1rem;   
}
.contact-heroHeader {
    margin-top: 175px;
    font-size: 44px;
    padding: 20px;
}
.our-contact-information {
    color: #fff;
    padding: 20px;
    color: #1d242b;
}
p {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 32px;
    margin-bottom: 15px;
}
.contact-input{
    color: #1d242b;
}
/* our patient section style here  */
.patient-hero__Title {
    position: absolute;
    bottom: 350px;
    left: 0px;
}
.patient-heroHeader{
    font-size: 32px;
    padding: 0px 20px;
    margin-bottom: 20px;
}
.patient-hero-Paragraph {
    width: 100%;
    margin-left: auto;
    position: absolute;
    margin-right: 0;
    background-color: #1d242b;
    margin-top: -15rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    left: 0px;    
    top: 790px;
}
p {
    font-size: 1rem;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 15px;
}
.patient-para ul li {
    list-style: disc;
    margin-left: 40px;
    font-size: 16px;
}
.hero__Subheader {
    font-size: 28px;
}
.pageBody {
    display: block;    
    width: 100%;    
    padding: 2rem;
    margin-top: 450px;
    left: 0px;
}
.hero__Paragraph .sanityText p a, .pageBody__Col .sanityText a {
    font-size: 20px;  
    padding: 10px 16px;
    
}
.button--Fill--blue {    
    font-size: 20px;
    padding: 10px 16px;
    
}
.applicition-hero__Title {
    width: 100%;
    margin-top: 90px;
    margin-top: 210px;
}
/* our surjary page style start here  */
.surjary-heroHeader {    
    font-size: 32px;
    padding: 0px 20px;
    margin-bottom: 20px;
}
.surjary-about-area {
    margin-top: -200px;
    margin-left: 0px;
}
.pageBody__Col {
    width: 100%;
}
.pageBody__Col2 {
    width: 100%;
}
/* our repir page style here   */
.hero__Paragraph {
    width: 100%;

}
.hero__Subheader {
    font-size: 22px;
}
.sanityText {
    color: #fff;
    width: 100%;
}
.maxWidth {
    margin-top: 520px;
    display: block;
}
.repair-heroHeader{
    padding: 0 20px;
}
.hero__CTA a{
    color: #fff;
}
/* our evlt page style here  */
.evlt-about-area {
    margin-top: 280px;
}
.maxWidth-evlt{
    margin-top: 0;
}
/* our endoscopy page style here  */
.endoscopy-about-area {
    margin-top: 520px;
}
.pageBody__Header {    
    font-size: 2rem;
    
}
.endoscopy-heroHeader {
    margin-top: 160px;
    font-size: 32px;
    padding: 0 20px;
    margin-bottom: 20px;
}
.surjary-formHeader{
    font-size: 42px;
}
.maxWidth-removal {
    margin-top: 560px;
}
.removal-heroHeader{
    font-size: 32px;
    padding: 0 20px;
    margin-bottom: 20px;
}
 

}