
*{   
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family: questa-slab,serif;
}
html{
   font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    overflow-x: hidden; 
    padding: 0;
    margin: 0;
}
body {
   font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;   
    font-weight: normal;
    font-style: normal;    
    font-size: 15px;
    overflow-x: hidden;  
    
}

/* header area start here*/
.logo{
   padding-top: 5rem;
}
.header-menu-area{
   position: absolute;
   width: 100%;
}
.header-info ul li{
    display: inline-block;
    padding-right: 40px;
    position: relative;
}
.our-mobile-logo{
   display: none;
}
.header-info-icon {
    float: left;
    margin-right: 15px;
}
.ddArrow{
   position: relative;
}
.ddArrow::after{
   content: "▾";
}
.main-menu ul li a{
   color: #fff;
}
.main-menu nav ul{
   display: flex;
   padding-top: 5rem;
}
.manu-list{
   padding-right: 2rem;
}
.manu-list a{
   font-size: 18px;
}
.dropdown {
   position: relative;
   padding-top: 5rem;
   padding-left: 5rem;
   padding-right: 5rem;
   padding-bottom: 1rem;   
   top: -80px;
   cursor: pointer;
   background-color: hsla(0,0%,100%,.6);
}
.dropdown .submenu {
   position: absolute;
   left: 0;
   width: 100%;
   display: block;   
   top: 123px;
   padding: 0;
   text-align: center;
   visibility: hidden;
   opacity: 0;
   background-color: hsla(0,0%,100%,.6);
}
.dropdown:hover .submenu{
   visibility: visible;
   opacity: 1;
}
.main-menu  .dropdown a{
   color: #1d242b;
}

.submenu li{
   display: block;
   
}
.dropdown .submenu li{
   position: relative;
}
.dropdown .submenu li::after{
   content: "";
   position: absolute;    
    height: 2px;
    background-color: black;
    width: 130px;
    top: 0; 
    left: 50%;
    transform: translate(-50%, 50%);
}
.dropdown a{
   color: #1d242b;
   font-size: 18px;
   text-transform: uppercase;
}
.submenu li{
   color: #1d242b;
   text-align: left;
   padding: 1rem 5rem;
}

/* our hero section style start here */
/* our hero area style start here */
.our-hero-section{
   background-image: url(/assets/images/background.png);
   height: 900px;
   background-size: cover;
   position: relative;
   z-index: -1;
   background-position: center;
   
   
}
.our-hero-area {
   position: absolute;
   display: inline-block;
   top: 520px;
   left: 200px;
   right: 300px;
}
.hero__Title {
   background-color: rgba(122,153,173,.4);
   display: flex;
   padding: 2rem;
   align-items: center;
}
.hero__Paragraph {
   padding: 3rem 4vw;
   background-color: #1d242b;
   padding-left: 6rem;
   padding-top: 4rem;
   padding-bottom: 4rem;
}
.hero-mobile-heding{
   display: none;
}
.sanityText {
   color: #fff;
   width: 85%;
}
.heroSanityText p {    
   margin-bottom: 0;
   line-height: 1.25;
   font-size: 1.3rem;
}
.hero__Title .hero-logo {
   width: 13rem;
   height: 13rem;
   margin: 0 2rem;
   
}
.heading--Home .hero__Title h1{
   color: rgb(255, 255, 255);
   font-size: 6.5rem;
   text-transform: uppercase;
   font-family: questa-slab,serif;
   font-style: normal;
   margin-left: 3rem;
}
/* our doctor section start here */
.our-doctor {
   margin-top: 220px;
}
.our-doctor-area{
   display: flex;
}
.doctor-info{
   display: flex;
}
.button--black {
   border: 1px solid #1d242b;
   color: #1d242b;
}
.button--black:hover {   
   color: inherit;
}
.button {
   padding: 10px 15px;
   text-transform: uppercase;
   text-decoration: none;
   cursor: pointer;
   font-size: 16px;
   display: inline-block;
}
.doctorHighlight__bio {
   color: #456c86;
   margin-bottom: 1.8rem;
   line-height: 1.25;
   font-size: 18px;
   font-family: proxima-nova,sans-serif;
   font-weight: 400;
   font-style: normal;
}
.doctorHighlight__imgWrapper {
   order: 1;
   display: block;
   border-radius: 100;
   width: 37.2rem;
   margin: 0;
   position: relative;
   height: auto;
}
.doctor-img img {
   border-radius: 100%;
   width: 380px;
   height: auto;
}
.doctorHighlight__Text {
   order: 2;
   width: 42rem;
   padding-left: 2.5em;
   padding-right: 2.5em;
   padding-bottom: 5.1rem;
}
.doctorHighlight__Text h3 .doctorHighlight__Text h4{
   font-size: 3.8rem;
   font-family: questa-slab,serif;
   margin-top: 1.8rem;
   font-weight: 700;
   font-style: normal;
   
}

.dr-heding{
   color: #000000 ;
   font-size: 48px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
   color: #495057;
   background-color: #fff;
   border-top: 1px solid #495057;
   border-bottom: 1px solid #495057;
}
.nav-tabs .nav-link {
   margin-bottom: -1px;
   background: 0 0;    
   border: 0;
   border-radius: 0;
   border-top: 1px solid #495057;
   border-bottom: 1px solid #495057;
   color: inherit;
   font-size: 20px;
   padding: 1rem 0;
   text-align: left;
   color: #000000;
   width: 240px;
   
}

.nav-tabs .nav-link:hover {
   margin-bottom: -1px;
   background: 0 0;    
   border: 0;
   border-radius: 0;
   border-top: 1px solid #495057;
   border-bottom: 1px solid #495057; 
   color: inherit;
}   
.dd__Item p {
   font-size: 48px;
}

/* our about section style start here */
.formHeader{
   color: #000000;
   font-size: 28px;
   
   text-transform: uppercase;
}
.formSectionAlone{
   margin-left: 30px;
}
.invalidInput{
   background-color: #e7d9d9;
   border: 2px solid red;
}
.contact-information{
   display: none;
}
input:-internal-autofill-selected {
   appearance: menulist-button;
   background-image: none !important;
   background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
   color: fieldtext !important;
}
.input--Text *, .input--Text::placeholder, .selectContainer *, .selectContainer::placeholder, fieldset *, fieldset::placeholder, select *, select::placeholder, textarea *, textarea::placeholder {
   font-size: 1rem;
   text-transform: uppercase;
   color: #1d242b;
   font-family: proxima-nova,sans-serif;
}
.input--Text, .selectContainer, fieldset, select, textarea {
   border: 0;
   background-color: #e8e9ea;
   display: block;
   padding: 1.3rem 1.6rem;
   width: 100%;
   margin-top: 1.1rem;
}
input[type=submit] {
   margin-top: 1.1rem;
   font-family: proxima-nova,sans-serif;
}
.button--Fill, .button--Fill--blue {
   font-size: 1rem;
   color: #fff;
   border: 0;
}
.button--Fill {
   background-color: #1d242b;
   margin-left: auto;
   margin-right: 0;
   display: block;
   padding: 12px 25px;
}

/* our hero woraper area style here */
.hero-bg-img img {
   width: 100%;
   height: 350px;   
   object-fit: cover;
}
.hero-para {
   position: absolute;
   z-index: 1;
   display: block;
   background-color: hsla(0,0%,100%,.8);    
   width: 75%;
   right: 0;
   top: 30%;
   padding: 40px 50px 40px 100px;
}
.hero-para p {
   font-size: 45px;
   color: #1d242b;
   font-family: questa-slab,serif;
   font-weight: 500;
   line-height: 48px;
   font-style: italic;
   font-weight: 500;
}
.hero__Wrapper{
   position: relative;
   margin-top: 60px;
}
.our-footer-area{
   padding: 60px 0 60px 0;
}

.footer-img{
   text-align: center;
}
.footer-hr{
   color: #456c86;
   font-size: 22px;
}

.footer-right ul li {
   text-align: end;
   padding-top: 5px ;
}
.footer-contact ul li {
  padding-top: 5px ;
}


.footer-location ul li{
   padding-top: 5px ;
}
.footer-procedures ul li{
   padding-top: 5px ;
}
/* about area style here  */
.hero__CTA{
   display: none;
}
.hero__Subheader{
   font-size: 3rem;
   color: #7a99ad;
   text-transform: uppercase;
   margin-bottom: 1.2rem;
   font-family: questa-slab,serif;
   font-weight: 700;
   font-style: normal;
}
.heroHeader{
   margin-bottom: 20px;
}

.about-doctor-section {
   margin-top: 120px;
   margin-bottom: 60px;
}
.allDocs__Header {
   display: block;
   width: 100%;
   color: #7a99ad;
   font-family: questa-slab,serif;
   font-weight: 700;
   font-style: normal;
   font-size: 3.5rem;
   margin-top: 3rem;
   margin-bottom: 1rem;
   text-transform: uppercase;
}
.person h3{
   border-top: 1px solid #1d242b;
   padding-top: 1.6rem;
   color: #1d242b;
   font-size: 2.2rem;
   font-weight: 300;
   width: 80%;
}

.imgWrapper--Headshot img {
   border-radius: 100%;
   
   display: block;
   margin-bottom: 30px;
   width: 280px;
   height: 280px;
}
.person__Brief {
   width: 22.7rem;
   position: relative;
   
}
.person {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
   width: 100%;
   margin-top: 60px;
}
.allDocs__Header {
   font-family: questa-slab,serif;
   font-weight: 700;
   font-style: normal;
   font-size: 3rem;
   margin-top: 3rem;
   margin-bottom: 1rem;
   text-transform: uppercase;
}
.person__bio {
   width: 100%;
   padding-left: 1em;
   padding-right: 1em;
}

.person__bio{
   color: #456c86;
   line-height: 1.25;
   width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
}
.imgWrapper-heding {
   font-family: questa-slab,serif;
   font-weight: 600;
   color: #1d242b;
   margin: 0;
   font-size: 32px;
}
.fromimg{
   order: 2;
   width: 45%;
}   

.fromimg  {
   max-width: 100%;
   position: relative;
}
.about-from-img img{
   width: 100%;
}
.about-from-img {
   width: 100%;
}

/* about from area style here */
.our-aboutfrom-area{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   padding: 6rem 6rem 7rem max((100vw - 106rem)/2,10vw);
}
.about-from {
   order: 1;
   padding: 0;
   width: 45%;
   margin-top: 0;
}


/* our contact page style here  */
.contact-heroHeader{
   margin-top: 200px;
}
.our-contact-from {
   display: flex;
   margin-top: -5rem;
   width: calc(100vw - max((100vw - 106rem)/ 2 ,10vw));
   margin-right: 0;
   margin-left: auto;
   background-color: #1d242b;
   padding: 3rem 6rem;
}
.our-contactarea {
   width: 60%;
   margin: 0;
}
.our-contactarea form{
   width: 100%;
}
.our-contact-information{
   color: #fff;
   padding: 20px;
}
.formHeader {
   color: #7a99ad;
   text-transform: uppercase;
   font-size: 2rem;
   font-family: questa-slab,serif;
   font-weight: 700;
   font-style: normal;
   margin-bottom: 2rem;
}
.contact-from-btn {
   border-radius: 0;
   background-color: #7a99ad;
   margin-top: 1.1rem;
   font-family: proxima-nova,sans-serif;
   font-size: 1.8rem;
   color: #fff;
   border: 0;
   margin-left: auto;
   margin-right: 0;
   display: block;
   padding: 12px 25px;
}
.contact-input{
   color: #fff;
   text-decoration: underline;
}
.our-contact-information{
   margin: 20px 0;
}
/* our patient section style start here   */
.our-patient-hero-section{
   position: relative;
   height: auto;
   height: 900px;
   object-fit: cover;
   background-repeat: no-repeat;
   z-index: -1;
}
.patient-hero__Title {
   position: absolute;
   bottom: 200px;
   left: 200px;
}
.patient-hero-Paragraph {
   width: calc(100vw - max((100vw - 106rem)/ 2 ,10vw));
   margin-left: auto;
   position: absolute;
   margin-right: 0;
   bottom: -500px;
   padding-right: max((100vw - 106rem)/2,10vw);
   background-color: #1d242b;
   margin-top: -15rem;
   padding-left: 6rem;
   padding-top: 4rem;
   padding-bottom: 4rem;
   left: 200px;
}
.patient-para {
   margin-bottom: 0;
   line-height: 1.25;
   font-size: 1.3rem;
   color: #fff;
}
.hero__Subheader {
   font-size: 2rem;
   color: #7a99ad;
   text-transform: uppercase;
   margin-bottom: 1.2rem;
   font-family: questa-slab,serif;
   font-weight: 700;
   font-style: normal;
}
.patient-para ul li{
   list-style: disc;
   margin-left: 40px;
}
.patientInformationBody{
   margin-top: 400px;
}
.pageBody{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   position: relative;
   padding-top: 4rem;
   padding-bottom: 4rem;
   width: 80vw;
   left: 200px;
}
.pageBody__Header {   
   margin-bottom: 1.2rem;
   font-size: 3rem;
   text-transform: uppercase;
   font-family: questa-slab,serif;
   font-weight: 700;
   font-style: normal;
   color: black;
}
.hero__Paragraph .sanityText p a, .pageBody__Col .sanityText a {
   font-size: 1.8rem;
   color: #fff;
   border: 0;
   background-color: #456c86;
   padding: 1.3rem 2.6rem;
   text-transform: uppercase;
   text-decoration: none;
   cursor: pointer;
   display: inline-block;
}
.button--Fill--blue {
   background-color: #456c86;
   font-size: 1.8rem;
    color: #fff;
    border: 0;    
    padding: 1.3rem 2.6rem;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

/* our applicition page style here  */
.applicition-hero__Title {   
   width: 50%;
   margin-top: 90px;
}
.applicition-hero__Title .heroHeader{
   text-transform: uppercase;
}
select {
   border: 2px solid #1d242b;
}

/* our surjary page style here   */
.surjary-heroHeader{
   margin-top: 220px;
   
}
.sanityText-p{
   color: #000000;
   font-size: 1.2rem;
   font-weight: normal;
   line-height: 26px;
   margin-bottom: 15px;
}
.surjary-about-area{
   margin-top: 140px;
   margin-left: 100px;
}
.pageBody__Col  {
   width: 55%;
}
.pageBody__Text {
   margin-bottom: 3.6rem;
   line-height: 1.25;
   font-size: 1.2rem;
}
.pageBody__Col2 {
   width: 35%;
}
.surjary-formHeader{
   color: #000000;
}
.hero__Paragraph {
   width: calc(100vw - max((100vw - 106rem)/ 2 ,10vw));
   margin-left: auto;
   margin-right: 0;
   padding-right: max((100vw - 106rem)/2,10vw);
}

/* our reapir area style here  */
.repair-heroHeader {
   margin-top: 230px;
}
.reapir-about-area{
   margin-top: 200px;
}

/* our evlt page style here   */
.evlt-about-area{
   margin-top: 200px;
}
/* our endoscopy page style start here  */
.endoscopy-heroHeader{
   margin-top: 160px;
}
.endoscopy-about-area{
   margin-top: 260px;

}
.thyroid-about-area{
   margin-top: 140px;
}

.removal-about-area{
   margin-top: 200px;
}
.removal-heroHeader{
   margin-top: 230px;
}



